
<html>
<head>
    <link rel="stylesheet" href="library.css">
</head>
<body>

<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>01</h2>
        <h3>Fiction</h3>
        <p>Imaginative Narratives and Compelling Stories</p>
        <a href="#">CLICK</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>02</h2>
        <h3>Non-Fiction</h3>
        <p>Factual Insights and Real-life Accounts</p>
        <a href="#">CLICK</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>03</h2>
        <h3>Reference</h3>
        <p>Authoritative Resources for Quick Information Access</p>
        <a href="#"  id="fiction-link">CLICK</a>
      </div>
    </div>
  </div>


<div id="fiction-books-table"></div>
</div>

<script src="script.js"></script>
</div>

</body>